<!DOCTYPE html>
<html>
	<head>
		<%- include('../../views/partial/meta'); %>
		<title>Transfer</title>
		<%- include('../../views/partial/stylesheets'); %>
	</head>
	<body>
		<header><%- include('../../views/partial/nav'); %></header>
		<div class="container-fluid vh-100" style="margin-top: 10px">
			<div class="" style="margin-top: 100px">
				<div class="rounded d-flex justify-content-center">
					<div class="col-md-4 col-sm-12 shadow-lg p-5 bg-light">
						<div class="text-center">
							<h3 class="text-primary">Make a Deposit</h3>
						</div>
						<form method="post">
							<div class="p-4">
								<div class="input-group mb-3">
									<span class="input-group-text bg-primary col-md-5">
										<label for="account" class="text-white"> Transfer From </label>
									</span>
									<select id="account" name="account" class="form-control">
										<% locals.userAccounts.forEach(element => { %> <% if(element.account_type_id ==
										1) { %>
										<option value="<%- element.account_number %>">
											Checking ($<%- element.balance %>)
										</option>
										<% } else { %>
										<option value="<%- element.account_number %>">
											Savings ($<%- element.balance %>)
										</option>
										<% } %> <% })%>
									</select>
								</div>
								<div class="input-group mb-3">
									<span class="input-group-text bg-primary col-md-5">
										<label for="amount" class="text-white">
											Amount <span class="mr-0 ml-auto pr-0">$</span>
										</label>
									</span>
									<input
										type="number"
										name="amount"
										id="amount"
										step="0.01"
										min="0.50"
										value="25.00" />
								</div>
								<div class="d-flex justify-content-end my-3">
									<a class="btn btn-primary mx-3 mt-2" href="/admin/viewfinances">
										Back
									</a>
									<button class="btn btn-primary mt-2" type="submit">
										Deposit
									</button>
								</div>
								<div id="errorMessageDiv">
									<p id="errorMessage" class="text-danger"><%- locals.errorMessage %></p>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
