<!DOCTYPE html>
<html>
	<head>
		<%- include('../views/partial/meta'); %>
		<title>Change Password</title>
		<%- include('../views/partial/stylesheets'); %>
		<script type="text/javascript" src="crypto-js.js"></script>
		<script>
			function validateUserEntry(event) {
				const currentPassword = document.getElementById("currentpassword").value;
				if (currentPassword !== "") {
					const password1 = document.getElementById("password1").value;
					const password2 = document.getElementById("password2").value;
					let passwordValid = false;
					let message = "";
					if (password1 == "") {
						message = "Please enter password";
					} else if (password2 == "") {
						message = "Please re-enter password";
					} else if (password1 != password2) {
						message = "Passwords didn't match";
					} else {
						passwordValid = true;
					}
					if (!passwordValid) {
						event.preventDefault();
						document.getElementById("message").innerHTML = message;
					} else {
						let salt = document.getElementById("salt").value;
						let hashed = CryptoJS.SHA256(password1 + ":" + salt).toString(CryptoJS.enc.hex);
						let currentHash = CryptoJS.SHA256(currentPassword + ":" + salt).toString(
							CryptoJS.enc.hex
						);
						document.getElementById("hash").value = hashed;
						document.getElementById("currentHash").value = currentHash;
					}
				} else {
					event.preventDefault();
					document.getElementById("passwordMessage").innerHTML =
						"Please enter your current password";
				}
			}
		</script>
	</head>
	<body>
		<header><%- include('../views/partial/nav'); %></header>
		<div class="container-fluid vh-100" style="margin-top: 10px">
			<div class="" style="margin-top: 100px">
				<div class="rounded d-flex justify-content-center">
					<div class="col-md-4 col-sm-12 shadow-lg p-5 bg-light">
						<div class="text-center">
							<h3 class="text-primary">Change Password</h3>
						</div>
						<form method="post" onsubmit="return validateUserEntry(event);">
							<div class="p-4">
								<!--Current Password-->
								<div class="input-group mb-3">
									<span class="input-group-text bg-primary"
										><i class="bi bi-key-fill text-white"></i
									></span>
									<input
										id="currentpassword"
										type="password"
										class="form-control"
										placeholder="Enter current password" />
								</div>
								<div>
									<p id="passwordMessage" class="text-danger"><%- locals.passwordMessage %></p>
								</div>
								<!--New Password-->
								<div class="input-group mb-3">
									<span class="input-group-text bg-primary"
										><i class="bi bi-key-fill text-white"></i
									></span>
									<input
										id="password1"
										type="password"
										class="form-control"
										placeholder="Enter new password" />
								</div>
								<!--Confirm New Password-->
								<div class="input-group mb-3">
									<span class="input-group-text bg-primary"
										><i class="bi bi-key-fill text-white"></i
									></span>
									<input
										id="password2"
										type="password"
										class="form-control"
										placeholder="Re-enter new password" />
								</div>
								<div>
									<p id="message" class="text-danger"><%- locals.message %></p>
								</div>
								<input type="hidden" id="hash" name="hash" />
								<input type="hidden" id="currentHash" name="currentHash" />
								<input type="hidden" id="salt" name="salt" value="<%- locals.salt %>" />
								<div class="text-center">
									<button class="btn btn-primary mt-2" type="submit">Change Password</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
